body {
    background-color:  #aad4cf;
    font-size: 20px;
    background-position: 0%;
}
header {
    text-align:center;
    color: white;
    padding-inline-start: 800px 100px;
}
.box {  
    position:relative;
    

}
#tittle {
    position: absolute;
    
}
.container {
    width: 500px;
    margin: 0 auto
}
img {
    width: 200px;
    float: rigth;
}
.list {
    width: 500px;
    margin: 0 auto;

}

.form {
    width: 500px;
    margin: 0 auto;
}

footer{
    float: right;
}


#supercontainer {
    width: 1024px;
    margin: auto;
}